<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #808588;
      color: black;
      font-style: italic;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action(s)</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.ID %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
          <td>
            <form action="/admin/<%= user.ID %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
