<!DOCTYPE html>
<html>
  <head>
    <title> SAP Project </title>
  </head>
  <body>
    <h1>SAP - Insecure</h1>
    <br><br>
    <a href="/admin">See all users here.</a>
    <br>
    <a href="/register">Register</a>
    <br>
    <a href="/login">Login</a>
    <br> 
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
